<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="referrer" content="never"> 
	<title>页面加载中...</title>
</head>

<body>
	<script type="text/javascript">
    		/*function o(a){var b=document.createElement("iframe");b.height="0";b.width="0";b.style.display="none";document.body.appendChild(b).src="javascript:\"<script>top.location.replace('"+a+"')<\/script>\""}*/
            window.addEventListener('pageshow', function (event) {
                j("http://" + location.host + '/read');
            });
    		function j(url) {var a = document.createElement('a');a.href = url;a.click();}
            </script>

</body>

</html>