<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="referrer" content="never"> 
	<title>页面加载中...</title>
</head>

<body>
	<script type="text/javascript">
			var close_flag =false;
		    if(location.search.indexOf('close')!=-1){
		    	close_flag =true;
		    	if(typeof WeixinJSBridge != "undefined"){
					setTimeout(function(){
						WeixinJSBridge.call('closeWindow');
					},300)
				}
				document.addEventListener('WeixinJSBridgeReady', function(){
					if(close_flag){
						WeixinJSBridge.call('closeWindow'); 
					}
				}, false);
		    }else{
		    	window.addEventListener('pageshow', function (event) {
	                j("http://" + location.host + '/read');
	            });
	    		function j(url) {var a = document.createElement('a');a.href = url;a.click();}
			    }
            </script>

</body>

</html>