<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="referrer" content="never"> 
	<title>...</title>
</head>

<body>
	<script type="text/javascript">
		setTimeout(function(){	
		location.href = "/self/read";
	},300)
	</script>
</body>

</html>