<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="referrer" content="never"> 
	<title>...</title>
</head>

<body>
	<script type="text/javascript">
	var count = parseInt(localStorage.getItem('self_count'))
	//alert(count)
	count= count?count:0;
	var zong = <%= zong%>;
	alert(zong)
	if(count<zong){
		localStorage.setItem('self_count',(count+1).toString())
		setTimeout(function(){	
			location.href = "/self/read";
		},300)
	}else{
		localStorage.setItem('self_count','0')
		history.back()
	}
	
	</script>
</body>

</html>