<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="referrer" content="never"> 
	<title>...</title>
</head>

<body>
	<script type="text/javascript">
	setTimeout(function(){	
			window.removeEventListener("pageshow",back_pageshow)
			window.addEventListener('pageshow',back_pageshow)
			location.href = "/self/read";
	},500);

	function back_pageshow(){
		location.href = "/self/read";
	}
	
	</script>
</body>

</html>